### AL ###
# Template for AL projects for Dynamics 365 Business Central
.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml
recommendation_system/downloaded_images

### Environment ###
.env

### Notebooks ###
notebooks/image_features.csv
notebooks/output_images.csv
data/city_country_mapping.csv
data/combined_data.csv
### Python ###
__pycache__/
*.pyc

### Other ###
tokenizers/
