torch
torchvision
Pillow
transformers
pandas
numpy
geopy
requests
opencv-python
nltk
scikit-learn
sidetable
kagglehub
langchain
python-dotenv
tiktoken
langchain-openai
langchain-text-splitters
langchain-community
fastapi==0.108.0
uvicorn
pytz
httpx
pytest-asyncio
