torch
torch
torchvision
Pillow
transformers
pandas
numpy
geopy
requests
opencv-python
nltk
scikit-learn
pandas
sidetable
kagglehub
requests
langchain
python-dotenv
tiktoken
langchain-openai
langchain-text-splitters
langchain-community
